
/* Каталог товаров */

.good-item {
    margin: 10px 0;
    padding: 20px;
    border: solid 1px gray;
    border-radius: 3px;
	background: rgba( 255,255,255,1);
}

.good-item__id {
    padding-top: 30px;
    color: steelblue;
}

.good-item__name {
    padding-top: 10px;
    font-size: 1.1em;
}

.good-item__price {
    padding-top: 10px;
    color: red;
}

.good-item__btn-add {
    margin-top: 30px;
}



/* Корзина */

.cart-item__btn-dec-count {
    margin-right: 15px;
    cursor: pointer;
	background: rgba( 255,255,255,1);
}

.cart-item__btn-inc-count {
    margin-left: 15px;
    cursor: pointer;
	background: rgba( 255,255,255,1);
}

.cart-item__btn-remove {
    cursor: pointer;
	background: rgba( 255,255,255,1);
}




