<html>
<head>
    <meta charset="utf-8">
    <title>GoodPC.com</title>
    <link href="css/shapka.css" rel="stylesheet" type="text/css">
    <link href="css/dop.css" rel="stylesheet" type="text/css">
<style>

.osn {
  height: 550px;
  
</style></head>
    		
</head>

<div id="preloader_malc">

	<div>

        <img src="images/gif/10.gif" width="110" height="110" alt="lorem" align="center">
		<img src="images/PCMaster.png" width="215" height="140" alt="lorem" align="left">
        
	</div>

    </div>


<script type="text/javascript">

	window.onload = function() {

		setTimeout(function() {

			document.getElementById("preloader_malc").style.display = "none";

		}, 1500);

	};

</script>  

<body>
<br>
<div class="product-fon">

<div class="header" class="col-md-6 top-header-left">  
<nav class="one">
<ul class="topmenu">
      
      <a href="halp.html"><li>Как оформить заказ?</li></a>
      <a href="halp1.html"><li>Как подобрать комплектующие?<span id="total-cart-count" class="badge"></span></li></a>
  </ul>
</nav>  
</div >

<div class="text_osn_halp">
<h1>Как оформить заказ</h1>
<p>&nbsp;</p>

<p><strong>Выберите товар и добавьте в корзину</strong></p>
<p>Когда вы определились с выбором, нажмите на&nbsp;кнопку "Добавить в корзину". Товар автоматически добавится в корзину. Далее можно продолжить покупки или перейти в&nbsp;карзину для уточнения заказа.</p>
<p>В корзине можно изменить:</p>
<ol >
<li >количество экземпляров товара;</li>
<li >удалять отдельные товары ‒ стоимость пересчитается автоматически и т.д.</li>
</ol >
<p><img src="images/halp/korzina.png" alt="" width="800" height="426" class="loading" data-was-processed="true"></p>
<p>В&nbsp;конце проверьте данные&nbsp;и, если всё верно, нажмите кнопку «Оформить заказ».</p>
<p><strong>Укажите данные покупателя</strong></p>
<p></p>
<p>Введите телефон,ваше имя и адрес доставки.</p>
<p>Так же выберите способ доставки. Для удобства можете указать дополнительную информацию</p>
<p><img src="images/halp/oform.png" alt="" width="850" height="560" class="loading" data-was-processed="true"></p>
<p>Далее следует нажать "Отправить заказ" и ожидать звонка от менеджера для получения информации о доставке.</p>
<p><strong>Важно</strong></p>
<ol>
<li>Статус Вашего заказа можно уточнить в личном кабинете в меню «Заказы» или по телефону Интернет-магазина в Вашем городе.</li>
<li>Информация о&nbsp;технических характеристиках товаров, указанная на сайте, может быть изменена производителем в&nbsp;одностороннем порядке.</li>
<li>Изображения товаров на&nbsp;фотографиях, представленных в&nbsp;каталоге на сайте, могут отличаться от&nbsp;оригиналов.</li>
<li>Информация о цене товара, указанная в каталоге на сайте, может отличаться от фактической к моменту оформления заказа на соответствующий товар.</li>
</ol></div>
    
  
 
</div>

    <script id="catalog-template" type="text/template">
        <% _.each(goods, function(good) { %>
            <li class="good-item row">
                <div class="col-md-4">
                    <img class="good-item__img" src="<%- good.img %>" />
                </div>
                <div class="col-md-8">
                    <a class="good-item__id" href="/product/<%= good.id %>">Артикул <%= good.id %></a>
                    <div class="good-item__name"><%- good.name %></div>
                    <div class="good-item__price"><%= good.price %> руб.</div>
                    <button 
                        class="good-item__btn-add btn btn-info btn-sm js-add-to-cart"
                        data-id="<%= good.id %>"
                        data-name="<%- good.name %>"
                        data-price="<%= good.price %>"
                    >Добавить в корзину</button>
                </div>
            </li>
        <% }); %>
    </script>

    <script src="js/vendor/jquery.min.js" type="text/javascript"></script>
    <script src="js/vendor/jquery.cookie.js" type="text/javascript"></script>
    <script src="js/vendor/underscore.min.js" type="text/javascript"></script>
    <script src="js/modules/catalog.js" type="text/javascript"></script>
    <script src="js/modules/cart.js" type="text/javascript"></script>
    <script src="js/modules/compare.js" type="text/javascript"></script>
    <script src="js/modules/main.js" type="text/javascript"></script>
    <script src="js/podval.js" type="text/javascript"></script>
    
</body>

<script src="js/shapaka.js" type="text/javascript"></script>

</html>