<html>
<head>
    <meta charset="utf-8">
    <title>GoodPC.com</title>
    <link href="css/shapka.css" rel="stylesheet" type="text/css">
    <link href="css/dop.css" rel="stylesheet" type="text/css">
<style>

.osn {
  height: 550px;
  
</style></head>
    		
</head>

<div id="preloader_malc">

	<div>

        <img src="images/gif/10.gif" width="110" height="110" alt="lorem" align="center">
		<img src="images/PCMaster.png" width="215" height="140" alt="lorem" align="left">
        
	</div>

    </div>


<script type="text/javascript">

	window.onload = function() {

		setTimeout(function() {

			document.getElementById("preloader_malc").style.display = "none";

		}, 1500);

	};

</script>  

<body data-page="catalog">
<br>
    <div class="product-fon">
    <div class="container"> 
      
        <br>
		
		<div class="osn" >
      <img src="images/mamki/glav mam.png" width="338" height="455" alt="lorem" align="left">
      <div class="text_osn">
      <h1></h1>
	  <p><font color="white" face="Arial" size="5">Оптимальный баланс производительности и цены для начинающих любителей компьютерных игр и поклонников киберспорта.</font></p>
      <p><font color="white" face="Arial" size="5"> Испытай настоящее совершенство для игр прямо сейчас! </font></p>
      </div>
    </div>
		
        <ul id="goods" class="list-unstyled">
        
          <li class="product-wrapper-mam">
		  <img src="images/mamki/mam1.png" width="220" height="250" alt="lorem" align="left" hspace="35">
		   <br>
           <br>
            <font color="black" face="Arial" size="3"><p><span> Игровая&#160;материнская&#160;плата</span></p></font>
           <font color="black" face="Arial" size="3"><p><span> &#160;NZXT&#160;N7 </span></p></font>
		<font color="black" face="Arial" size="5"><p><span> Стоимость:&#160;31000&#160;руб</span></p></font>
        
        <div class="simpleCart_shelfItem">
        <div class="product-bottom">
		   <button class="good-item__btn-add btn btn-info btn-sm js-add-to-cart" data-id="31" data-name="Игровая материнская плата NZXT N7" data-price="31000">Добавить в корзину</button>
         </div>
         </div>
         <br>
		<div class="product-infa">
		<font color="black" face="Arial" size="3"><p> Характеристики:</p></font>
		
		<font color="black" face="Arial" size="3"><p> Socket: LGA 1151 v2 </p></font> 
		
        <font color="black" face="Arial" size="3"><p> Чипсет: Intel Z390 </p></font> 
		
        <font color="black" face="Arial" size="3"><p> Тип памяти: DDR-4 </p></font>
		
		<font color="black" face="Arial" size="3"><p> Кол-во слотов памяти: 4 </p></font>
        
        <font color="black" face="Arial" size="3"><p> Контроллер SATA:4 x SATA-III (6 Гб/с) </p></font> 
        
        <font color="black" face="Arial" size="3"><p> Слоты расширения:2 x PCI-E 3.0 x16 </p></font>
        
        <font color="black" face="Arial" size="3"><p> Форм-фактор: ATX </p></font>
        
        <font color="black" face="Arial" size="3"><p> Сетевой контроллер: Intel I219V </p></font>
        
        <font color="black" face="Arial" size="3"><p> Кол-во слотов M.2: 2 </p></font>
        </li>
        
            <li class="product-wrapper-mam">
		  <img src="images/mamki/mam2.png" width="220" height="250" alt="lorem" align="left" hspace="35">
		   <br>
           <font color="black" face="Arial" size="3"><p><span> Игровая&#160;материнская&#160;плата</span></p></font>
           <font color="black" face="Arial" size="3"><p><span> &#160;AORUS&#160;Gaming&#160;7 </span></p></font>
		<font color="black" face="Arial" size="5"><p><span> Стоимость:&#160;41000&#160;руб</span></p></font>
        
        <div class="simpleCart_shelfItem">
        <div class="product-bottom">
		   <button class="good-item__btn-add btn btn-info btn-sm js-add-to-cart" data-id="32" data-name="Игровая материнская плата AORUS Gaming 7" data-price="41000">Добавить в корзину</button>
         </div>
         </div>
         <br>
		<div class="product-infa">
		<font color="black" face="Arial" size="3"><p> Характеристики:</p></font>
		
		<font color="black" face="Arial" size="3"><p> Socket: AM4 </p></font> 
		
        <font color="black" face="Arial" size="3"><p> Чипсет: AMD X470 </p></font> 
		
        <font color="black" face="Arial" size="3"><p> Тип памяти: DDR4 DIMM </p></font>
		
		<font color="black" face="Arial" size="3"><p> Кол-во слотов памяти: 8 </p></font>
        
        <font color="black" face="Arial" size="3"><p> Контроллер SATA:6 x SATA-III (6 Гб/с) </p></font> 
        
        <font color="black" face="Arial" size="3"><p> Слоты расширения:3 x PCI-E 3.0 x16 </p></font>
        
        <font color="black" face="Arial" size="3"><p> Форм-фактор: ATX </p></font>
        
        <font color="black" face="Arial" size="3"><p> Сетевой контроллер:Intel I219V </p></font>
        
        <font color="black" face="Arial" size="3"><p> Кол-во слотов M.2: 2 </p></font>
        </li>
        
            <li class="product-wrapper-mam">
		  <img src="images/mamki/mam3.png" width="220" height="250" alt="lorem" align="left" hspace="35">
		   <br>
           <font color="black" face="Arial" size="3"><p><span> Игровая&#160;материнская&#160;плата</span></p></font>
           <font color="black" face="Arial" size="3"><p><span> &#160;ASUS&#160;Strix </span></p></font>
		<font color="black" face="Arial" size="5"><p><span> Стоимость:&#160;40300&#160;руб</span></p></font>
        
        <div class="simpleCart_shelfItem">
        <div class="product-bottom">
		   <button class="good-item__btn-add btn btn-info btn-sm js-add-to-cart" data-id="33" data-name="Игровая материнская плата ASUS Strix" data-price="40300">Добавить в корзину</button>
         </div>
         </div>
         <br>
		<div class="product-infa">
		<font color="black" face="Arial" size="3"><p> Характеристики:</p></font>
		
		<font color="black" face="Arial" size="3"><p> Socket: LGA 1151 </p></font> 
		
        <font color="black" face="Arial" size="3"><p> Чипсет: Intel Z270 </p></font> 
		
        <font color="black" face="Arial" size="3"><p> Тип памяти: DDR-4 </p></font>
		
		<font color="black" face="Arial" size="3"><p> Кол-во слотов памяти: 4 </p></font>
        
        <font color="black" face="Arial" size="3"><p> Контроллер SATA:6 x SATA-III (6 Гб/с) </p></font> 
        
        <font color="black" face="Arial" size="3"><p> Слоты расширения:2 x PCI-E 3.0 x16 </p></font>
        
        <font color="black" face="Arial" size="3"><p> Форм-фактор: ATX </p></font>
        
        <font color="black" face="Arial" size="3"><p> Сетевой контроллер: Intel I219V </p></font>
        
        <font color="black" face="Arial" size="3"><p> Кол-во слотов M.2: 2 </p></font>
        </li>        
		
	<li class="Cotalogs">
	  <br><!--след.ряд-->
	</li>
		
            <li class="product-wrapper-mam">
		  <img src="images/mamki/mam4.png" width="200" height="200" alt="lorem" align="left" hspace="35">
		   <br>
           <font color="black" face="Arial" size="3"><p><span> Игровая&#160;материнская&#160;плата</span></p></font>
           <font color="black" face="Arial" size="3"><p><span> &#160;MSI&#160;H310MHP </span></p></font>
		<font color="black" face="Arial" size="5"><p><span> Стоимость:&#160;4700&#160;руб</span></p></font>
        
        <div class="simpleCart_shelfItem">
        <div class="product-bottom">
		   <button class="good-item__btn-add btn btn-info btn-sm js-add-to-cart" data-id="34" data-name="Игровая материнская плата MSI H310MHP" data-price="4700">Добавить в корзину</button>
         </div>
         </div>
         <br>
		<div class="product-infa">
		<font color="black" face="Arial" size="3"><p> Характеристики:</p></font>
		
		<font color="black" face="Arial" size="3"><p> Socket: AM4 </p></font> 
		
        <font color="black" face="Arial" size="3"><p> Чипсет: AMD A320 </p></font> 
		
        <font color="black" face="Arial" size="3"><p> Тип памяти: DDR-4 </p></font>
		
		<font color="black" face="Arial" size="3"><p> Кол-во слотов памяти: 2 </p></font>
        
        <font color="black" face="Arial" size="3"><p> Контроллер SATA:4 x SATA-III (6 Гб/с) </p></font> 
        
        <font color="black" face="Arial" size="3"><p> Слоты расширения:1 x PCI-E 3.0 x16 </p></font>
        
        <font color="black" face="Arial" size="3"><p> Форм-фактор: m-ATX </p></font>
        
        <font color="black" face="Arial" size="3"><p> Сетевой контроллер: Realtek 8111H </p></font>
        
        <font color="black" face="Arial" size="3"><p> Кол-во слотов M.2: Нет </p></font>
        </li>
        
            <li class="product-wrapper-mam">
		  <img src="images/mamki/mam5.png" width="200" height="200" alt="lorem" align="left" hspace="35">
		   <br>
           <font color="black" face="Arial" size="3"><p><span> Игровая&#160;материнская&#160;плата</span></p></font>
           <font color="black" face="Arial" size="3"><p><span> &#160;MSI&#160;GAming&#160;M7 </span></p></font>
		<font color="black" face="Arial" size="5"><p><span> Стоимость:&#160;40000&#160;руб</span></p></font>
        
        <div class="simpleCart_shelfItem">
        <div class="product-bottom">
		   <button class="good-item__btn-add btn btn-info btn-sm js-add-to-cart" data-id="35" data-name="Игровая материнская плата MSI GAming M7" data-price="40000">Добавить в корзину</button>
         </div>
         </div>
         <br>
		<div class="product-infa">
		<font color="black" face="Arial" size="3"><p> Характеристики:</p></font>
		
		<font color="black" face="Arial" size="3"><p> Socket: LGA 2066 </p></font> 
		
        <font color="black" face="Arial" size="3"><p> Чипсет: Intel X299 </p></font> 
		
        <font color="black" face="Arial" size="3"><p> Тип памяти: DDR-4 </p></font>
		
		<font color="black" face="Arial" size="3"><p> Кол-во слотов памяти: 8 </p></font>
        
        <font color="black" face="Arial" size="3"><p> Контроллер SATA:8 x SATA-III (6 Гб/с) </p></font> 
        
        <font color="black" face="Arial" size="3"><p> Слоты расширения:4 x PCI-E 3.0 x16 </p></font>
        
        <font color="black" face="Arial" size="3"><p> Форм-фактор: ATX </p></font>
        
        <font color="black" face="Arial" size="3"><p> Сетевой контроллер: Intel I219V </p></font>
        
        <font color="black" face="Arial" size="3"><p> Кол-во слотов M.2: 2 </p></font>
        </li>
		
		<li class="product-wrapper-mam">
		  <img src="images/mamki/mam6.png" width="200" height="200" alt="lorem" align="left" hspace="40">
		   <br>
           <font color="black" face="Arial" size="3"><p><span> Игровая&#160;материнская&#160;плата</span></p></font>
           <font color="black" face="Arial" size="3"><p><span>&#160;AORUS&#160;Zenith&#160;EXTREME </span></p></font>
		<font color="black" face="Arial" size="5"><p><span> Стоимость:&#160;40600&#160;руб</span></p></font>
        
        <div class="simpleCart_shelfItem">
        <div class="product-bottom">
		   <button class="good-item__btn-add btn btn-info btn-sm js-add-to-cart" data-id="12" data-name="Игровая материнская плата AORUS Zenith EXTREME" data-price="40600">Добавить в корзину</button>
         </div>
         </div>
         <br>
		<div class="product-infa">
		<font color="black" face="Arial" size="3"><p> Характеристики:</p></font>
		
		<font color="black" face="Arial" size="3"><p> Socket: TR4 </p></font> 
		
        <font color="black" face="Arial" size="3"><p> Чипсет: AMD X399 </p></font> 
		
        <font color="black" face="Arial" size="3"><p> Тип памяти: DDR-4 </p></font>
		
		<font color="black" face="Arial" size="3"><p> Кол-во слотов памяти: 8 </p></font>
        
        <font color="black" face="Arial" size="3"><p> Контроллер SATA:6 x SATA-III (6 Гб/с) </p></font> 
        
        <font color="black" face="Arial" size="3"><p> Слоты расширения:4 x PCI-E 3.0 x16 </p></font>
        
        <font color="black" face="Arial" size="3"><p> Форм-фактор: ATX </p></font>
        
        <font color="black" face="Arial" size="3"><p> Сетевой контроллер: Intel I1211 </p></font>
        
        <font color="black" face="Arial" size="3"><p> Кол-во слотов M.2: 2 </p></font>
        </li>
        
    </ul>
    </div>

    <script id="catalog-template" type="text/template">
        <% _.each(goods, function(good) { %>
            <li class="good-item row">
                <div class="col-md-4">
                    <img class="good-item__img" src="<%- good.img %>" />
                </div>
                <div class="col-md-8">
                    <a class="good-item__id" href="/product/<%= good.id %>">Артикул <%= good.id %></a>
                    <div class="good-item__name"><%- good.name %></div>
                    <div class="good-item__price"><%= good.price %> руб.</div>
                    <button 
                        class="good-item__btn-add btn btn-info btn-sm js-add-to-cart"
                        data-id="<%= good.id %>"
                        data-name="<%- good.name %>"
                        data-price="<%= good.price %>"
                    >Добавить в корзину</button>
                </div>
            </li>
        <% }); %>
    </script>

    <script src="js/vendor/jquery.min.js" type="text/javascript"></script>
    <script src="js/vendor/jquery.cookie.js" type="text/javascript"></script>
    <script src="js/vendor/underscore.min.js" type="text/javascript"></script>
    <script src="js/modules/catalog.js" type="text/javascript"></script>
    <script src="js/modules/cart.js" type="text/javascript"></script>
    <script src="js/modules/compare.js" type="text/javascript"></script>
    <script src="js/modules/main.js" type="text/javascript"></script>
    <script src="js/podval.js" type="text/javascript"></script>
    
</body>

<script src="js/shapaka.js" type="text/javascript"></script>

</html>