<html>
<head>
    <meta charset="utf-8">
    <title>GoodPC.com</title>
    <link href="css/shapka.css" rel="stylesheet" type="text/css">
    <link href="css/dop.css" rel="stylesheet" type="text/css">
<style>

.osn {
  height: 550px;
  
</style></head>
    		
</head>

<div id="preloader_malc">

	<div>

        <img src="images/gif/10.gif" width="110" height="110" alt="lorem" align="center">
		<img src="images/PCMaster.png" width="215" height="140" alt="lorem" align="left">
        
	</div>

    </div>


<script type="text/javascript">

	window.onload = function() {

		setTimeout(function() {

			document.getElementById("preloader_malc").style.display = "none";

		}, 1500);

	};

</script>  

<body data-page="catalog">
<br>
    <div class="product-fon">
<div class="container"> 
      
    <br>
		
	<div class="osn" >
      <img src="images/viduhi/glav viduh.png" width="500" height="450" alt="lorem" align="left">
      <div class="text_osn">
      <h1></h1>
	  <p><font color="white" face="Arial" size="5">Оптимальный баланс производительности и цены для начинающих любителей компьютерных игр и поклонников киберспорта.</font></p>
      <p><font color="white" face="Arial" size="5"> Испытай настоящее совершенство для игр прямо сейчас! </font></p>
      </div>
    </div>
		
        <ul id="goods" class="list-unstyled">
        
          <li class="product-wrapper-vid">
		  <img src="images/viduhi/vid1.png" width="200" height="200" alt="lorem" align="left" hspace="50">
		   
           <font color="black" face="Arial" size="5"><p><span> Игровая&#160;видеокарта&#160; </span></p></font>
           <font color="black" face="Arial" size="3"><p><span> MSI&#160;GeForce&#160;RTX&#160;3090 </span></p></font>
		<font color="black" face="Arial" size="5"><p><span> Стоимость:&#160;166000&#160;руб</span></p></font>
        
        <div class="simpleCart_shelfItem">
        <div class="product-bottom">
		   <button class="good-item__btn-add btn btn-info btn-sm js-add-to-cart" data-id="37" data-name="Игровая видеокарта MSI GeForce RTX 3090" data-price="166000">Добавить в корзину</button>
         </div>
         </div>
         <br>
		<div class="product-infa">
		<font color="black" face="Arial" size="3"><p> Характеристики:</p></font>
		
		<font color="black" face="Arial" size="3"><p> Объем видеопамяти: 10 ГБ </p></font> 
		
        <font color="black" face="Arial" size="3"><p> Тип памяти: GDDR6 </p></font> 
		
        <font color="black" face="Arial" size="3"><p> Интерфейс подключения: PCI-E 4.0 </p></font>
		
		<font color="black" face="Arial" size="3"><p> Разъём подключения: PCI-E x16 </p></font>
        
        <font color="black" face="Arial" size="3"><p> Дополнительное питание: 8pin+8pin+8pin </p></font>

        <font color="black" face="Arial" size="3"><p> Минимальная мощность блока питания: 750 Вт </p></font>        
        
        <font color="black" face="Arial" size="3"><p> Тип охлаждения: Активное воздушное </p></font>
        
        <font color="black" face="Arial" size="3"><p> Количество вентиляторов: 3 </p></font>
        
        <font color="black" face="Arial" size="3"><p> Длина видеокарты: 323 мм </p></font>
        
        <font color="black" face="Arial" size="3"><p> Высота видеокарты: 140 мм </p></font>
        
        <font color="black" face="Arial" size="3"><p> Толщина видеокарты: 56 мм </p></font>
        
        <font color="black" face="Arial" size="3"><p> Количество занимаемых слотов: 3 </p></font>
        </li>
        
            <li class="product-wrapper-vid">
		  <img src="images/viduhi/vid2.png" width="200" height="200" alt="lorem" align="left" hspace="50">
		   
           <font color="black" face="Arial" size="5"><p><span> Игровая&#160;видеокарта&#160; </span></p></font>
           <font color="black" face="Arial" size="3"><p><span> ASUS&#160;GeForce&#160;GTX&#160;1050ti </span></p></font>
		<font color="black" face="Arial" size="5"><p><span> Стоимость:&#160;36000&#160;руб</span></p></font>
        
        <div class="simpleCart_shelfItem">
        <div class="product-bottom">
		   <button class="good-item__btn-add btn btn-info btn-sm js-add-to-cart" data-id="38" data-name="Игровая видеокарта ASUS GeForce GTX 1050ti" data-price="36000">Добавить в корзину</button>
         </div>
         </div>
         <br>
		<div class="product-infa">
		<font color="black" face="Arial" size="3"><p> Характеристики:</p></font>
		
		<font color="black" face="Arial" size="3"><p> Объем видеопамяти: 6 ГБ </p></font> 
		
        <font color="black" face="Arial" size="3"><p> Тип памяти: GDDR6 </p></font> 
		
        <font color="black" face="Arial" size="3"><p> Интерфейс подключения: PCI-E 3.0 </p></font>
		
		<font color="black" face="Arial" size="3"><p> Разъём подключения: PCI-E x16 </p></font>
        
        <font color="black" face="Arial" size="3"><p> Дополнительное питание: 8pin </p></font>

        <font color="black" face="Arial" size="3"><p> Минимальная мощность блока питания: 450 Вт </p></font>        
        
        <font color="black" face="Arial" size="3"><p> Тип охлаждения: Активное воздушное </p></font>
        
        <font color="black" face="Arial" size="3"><p> Количество вентиляторов: 2 </p></font>
        
        <font color="black" face="Arial" size="3"><p> Длина видеокарты: 206 мм </p></font>
        
        <font color="black" face="Arial" size="3"><p> Высота видеокарты: 124 мм </p></font>
        
        <font color="black" face="Arial" size="3"><p> Толщина видеокарты: 46 мм </p></font>
        
        <font color="black" face="Arial" size="3"><p> Количество занимаемых слотов: 3 </p></font>
        </li>
        
            <li class="product-wrapper-vid">
		  <img src="images/viduhi/vid3.png" width="200" height="200" alt="lorem" align="left" hspace="50">
		   
           <font color="black" face="Arial" size="5"><p><span> Игровая&#160;видеокарта&#160; </span></p></font>
           <font color="black" face="Arial" size="3"><p><span> GIGABAYTE&#160;GeForce&#160;GTX&#160;1080ti </span></p></font>
		<font color="black" face="Arial" size="5"><p><span> Стоимость:&#160;85300&#160;руб</span></p></font>
        
        <div class="simpleCart_shelfItem">
        <div class="product-bottom">
		   <button class="good-item__btn-add btn btn-info btn-sm js-add-to-cart" data-id="39" data-name="Игровая видеокарта GIGABAYTE GeForce GTX 1080ti" data-price="85300">Добавить в корзину</button>
         </div>
         </div>
         <br>
		<div class="product-infa">
		<font color="black" face="Arial" size="3"><p> Характеристики:</p></font>
		
		<font color="black" face="Arial" size="3"><p> Объем видеопамяти: 11 ГБ </p></font> 
		
        <font color="black" face="Arial" size="3"><p> Тип памяти: GDDR5X </p></font> 
		
        <font color="black" face="Arial" size="3"><p> Интерфейс подключения: PCI-E 3.0 </p></font>
		
		<font color="black" face="Arial" size="3"><p> Разъём подключения: PCI-E x16 </p></font>
        
        <font color="black" face="Arial" size="3"><p> Дополнительное питание: 8pin+6pin </p></font>

        <font color="black" face="Arial" size="3"><p> Минимальная мощность блока питания: 600 Вт </p></font>        
        
        <font color="black" face="Arial" size="3"><p> Тип охлаждения: Активное воздушное </p></font>
        
        <font color="black" face="Arial" size="3"><p> Количество вентиляторов: 3 </p></font>
        
        <font color="black" face="Arial" size="3"><p> Длина видеокарты: 280 мм </p></font>
        
        <font color="black" face="Arial" size="3"><p> Высота видеокарты: 140 мм </p></font>
        
        <font color="black" face="Arial" size="3"><p> Толщина видеокарты: 37 мм </p></font>
        
        <font color="black" face="Arial" size="3"><p> Количество занимаемых слотов: 2 </p></font>
        </li>        
		
	<li class="Cotalogs">
	  <br><!--след.ряд-->
	</li>
		
            <li class="product-wrapper-vid">
		  <img src="images/viduhi/vid4.png" width="200" height="200" alt="lorem" align="left" hspace="50">
		   
           <font color="black" face="Arial" size="5"><p><span> Игровая&#160;видеокарта&#160; </span></p></font>
           <font color="black" face="Arial" size="3"><p><span> GIGABAYTE&#160;GeForce&#160;GT&#160;1030 </span></p></font>
		<font color="black" face="Arial" size="5"><p><span> Стоимость:&#160;9200&#160;руб</span></p></font>
        
        <div class="simpleCart_shelfItem">
        <div class="product-bottom">
		   <button class="good-item__btn-add btn btn-info btn-sm js-add-to-cart" data-id="40" data-name="Игровая видеокарта GIGABAYTE GeForce GT 1030" data-price="9200">Добавить в корзину</button>
         </div>
         </div>
         <br>
		<div class="product-infa">
		<font color="black" face="Arial" size="3"><p> Характеристики:</p></font>
		
		<font color="black" face="Arial" size="3"><p> Объем видеопамяти: 2 ГБ </p></font> 
		
        <font color="black" face="Arial" size="3"><p> Тип памяти: GDDR4 </p></font> 
		
        <font color="black" face="Arial" size="3"><p> Интерфейс подключения: PCI-E 3.0 </p></font>
		
		<font color="black" face="Arial" size="3"><p> Разъём подключения: PCI-E x16 </p></font>
        
        <font color="black" face="Arial" size="3"><p> Дополнительное питание: Нет </p></font>

        <font color="black" face="Arial" size="3"><p> Минимальная мощность блока питания: 300 Вт </p></font>        
        
        <font color="black" face="Arial" size="3"><p> Тип охлаждения: Активное воздушное </p></font>
        
        <font color="black" face="Arial" size="3"><p> Количество вентиляторов: 1 </p></font>
        
        <font color="black" face="Arial" size="3"><p> Длина видеокарты: 140 мм </p></font>
        
        <font color="black" face="Arial" size="3"><p> Высота видеокарты: 15 мм </p></font>
        
        <font color="black" face="Arial" size="3"><p> Толщина видеокарты: 68 мм </p></font>
        
        <font color="black" face="Arial" size="3"><p> Количество занимаемых слотов: 1 </p></font>
        </li>
        
            <li class="product-wrapper-vid">
		  <img src="images/viduhi/vid5.png" width="200" height="200" alt="lorem" align="left" hspace="50">
		   
           <font color="black" face="Arial" size="5"><p><span> Игровая&#160;видеокарта&#160; </span></p></font>
           <font color="black" face="Arial" size="3"><p><span> MSI&#160;GeForce&#160;GTX&#160;1080ti </span></p></font>
		<font color="black" face="Arial" size="5"><p><span> Стоимость:&#160;68000&#160;руб</span></p></font>
        
        <div class="simpleCart_shelfItem">
        <div class="product-bottom">
		   <button class="good-item__btn-add btn btn-info btn-sm js-add-to-cart" data-id="41" data-name="Игровая видеокарта MSI GeForce GTX 1080ti" data-price="68000">Добавить в корзину</button>
         </div>
         </div>
         <br>
		<div class="product-infa">
		<font color="black" face="Arial" size="3"><p> Характеристики:</p></font>
		
		<font color="black" face="Arial" size="3"><p> Объем видеопамяти: 11 ГБ </p></font> 
		
        <font color="black" face="Arial" size="3"><p> Тип памяти: GDDR5X </p></font> 
		
        <font color="black" face="Arial" size="3"><p> Интерфейс подключения: PCI-E 3.0 </p></font>
		
		<font color="black" face="Arial" size="3"><p> Разъём подключения: PCI-E x16 </p></font>
        
        <font color="black" face="Arial" size="3"><p> Дополнительное питание: 8pin+8pin+8pin </p></font>

        <font color="black" face="Arial" size="3"><p> Минимальная мощность блока питания: 600 Вт </p></font>        
        
        <font color="black" face="Arial" size="3"><p> Тип охлаждения: Активное воздушное </p></font>
        
        <font color="black" face="Arial" size="3"><p> Количество вентиляторов: 3 </p></font>
        
        <font color="black" face="Arial" size="3"><p> Длина видеокарты: 320 мм </p></font>
        
        <font color="black" face="Arial" size="3"><p> Высота видеокарты: 140 мм </p></font>
        
        <font color="black" face="Arial" size="3"><p> Толщина видеокарты: 51 мм </p></font>
        
        <font color="black" face="Arial" size="3"><p> Количество занимаемых слотов: 3 </p></font>
        </li>
		
		<li class="product-wrapper-vid">
		  <img src="images/viduhi/vid6.png" width="200" height="200" alt="lorem" align="left" hspace="50">
		   
           <font color="black" face="Arial" size="5"><p><span> Игровая&#160;видеокарта&#160; </span></p></font>
           <font color="black" face="Arial" size="3"><p><span> ASUS&#160;GeForce&#160;GTX&#160;1080 </span></p></font>
		<font color="black" face="Arial" size="5"><p><span> Стоимость:&#160;28900&#160;руб</span></p></font>
        
        <div class="simpleCart_shelfItem">
        <div class="product-bottom">
		   <button class="good-item__btn-add btn btn-info btn-sm js-add-to-cart" data-id="42" data-name="Игровая видеокарта ASUS GeForce GTX 1080" data-price="28900">Добавить в корзину</button>
         </div>
         </div>
         <br>
		<div class="product-infa">
		<font color="black" face="Arial" size="3"><p> Характеристики:</p></font>
		
		<font color="black" face="Arial" size="3"><p> Объем видеопамяти: 6 ГБ </p></font> 
		
        <font color="black" face="Arial" size="3"><p> Тип памяти: GDDR5 </p></font> 
		
        <font color="black" face="Arial" size="3"><p> Интерфейс подключения: PCI-E 3.0 </p></font>
		
		<font color="black" face="Arial" size="3"><p> Разъём подключения: PCI-E x16 </p></font>
        
        <font color="black" face="Arial" size="3"><p> Дополнительное питание: 8pin </p></font>

        <font color="black" face="Arial" size="3"><p> Минимальная мощность блока питания: 500 Вт </p></font>        
        
        <font color="black" face="Arial" size="3"><p> Тип охлаждения: Активное воздушное </p></font>
        
        <font color="black" face="Arial" size="3"><p> Количество вентиляторов: 3 </p></font>
        
        <font color="black" face="Arial" size="3"><p> Длина видеокарты: 298мм мм </p></font>
        
        <font color="black" face="Arial" size="3"><p> Высота видеокарты: 140 мм </p></font>
        
        <font color="black" face="Arial" size="3"><p> Толщина видеокарты: 56 мм </p></font>
        
        <font color="black" face="Arial" size="3"><p> Количество занимаемых слотов: 3 </p></font>
        </li>
        
    </ul>
    </div>

    <script id="catalog-template" type="text/template">
        <% _.each(goods, function(good) { %>
            <li class="good-item row">
                <div class="col-md-4">
                    <img class="good-item__img" src="<%- good.img %>" />
                </div>
                <div class="col-md-8">
                    <a class="good-item__id" href="/product/<%= good.id %>">Артикул <%= good.id %></a>
                    <div class="good-item__name"><%- good.name %></div>
                    <div class="good-item__price"><%= good.price %> руб.</div>
                    <button 
                        class="good-item__btn-add btn btn-info btn-sm js-add-to-cart"
                        data-id="<%= good.id %>"
                        data-name="<%- good.name %>"
                        data-price="<%= good.price %>"
                    >Добавить в корзину</button>
                </div>
            </li>
        <% }); %>
    </script>

    <script src="js/vendor/jquery.min.js" type="text/javascript"></script>
    <script src="js/vendor/jquery.cookie.js" type="text/javascript"></script>
    <script src="js/vendor/underscore.min.js" type="text/javascript"></script>
    <script src="js/modules/catalog.js" type="text/javascript"></script>
    <script src="js/modules/cart.js" type="text/javascript"></script>
    <script src="js/modules/compare.js" type="text/javascript"></script>
    <script src="js/modules/main.js" type="text/javascript"></script>
    <script src="js/podval.js" type="text/javascript"></script>
    
</body>

<script src="js/shapaka.js" type="text/javascript"></script>

</html>