<html>
<head>
    <meta charset="utf-8">
    <title>GoodPC.com</title>
    <link href="css/shapka.css" rel="stylesheet" type="text/css">
    <link href="css/dop.css" rel="stylesheet" type="text/css">
<style>

.osn {
  height: 550px;
  
</style></head>
    		
</head>

<div id="preloader_malc">

	<div>

        <img src="images/gif/10.gif" width="110" height="110" alt="lorem" align="center">
		<img src="images/PCMaster.png" width="215" height="140" alt="lorem" align="left">
        
	</div>

    </div>


<script type="text/javascript">

	window.onload = function() {

		setTimeout(function() {

			document.getElementById("preloader_malc").style.display = "none";

		}, 1500);

	};

</script>  

<body data-page="catalog">
<br>
    <div class="product-fon">
    <div class="container"> 
    
        <br>
		
		<div class="osn" >
      <img src="images/Klava/glav klav.png" width="550" height="450" alt="lorem" align="left">
      <div class="text_osn">
      <h1></h1>
	  <p><font color="white" face="Arial" size="5">Оптимальный баланс производительности и цены для начинающих любителей компьютерных игр и поклонников киберспорта.</font></p>
      <p><font color="white" face="Arial" size="5"> Испытай настоящее совершенство для игр прямо сейчас! </font></p>
      </div>
    </div>
		
        <ul id="goods" class="list-unstyled">
        
          <li class="product-wrapper-klaw">
		  <img src="images/Klava/klav1.png" width="200" height="200" alt="lorem" align="left" hspace="35">
		   
           <font color="black" face="Arial" size="5"><p><span> Игровая&#160;клавиатура&#160; </span></p></font>
           <font color="black" face="Arial" size="5"><p><span> Razer&#160;Huntsman&#160;V2 </span></p></font>
		<font color="black" face="Arial" size="4"><p><span> Стоимость:&#160;12000&#160;руб</span></p></font>
        
        <div class="simpleCart_shelfItem">
        <div class="product-bottom">
		   <button class="good-item__btn-add btn btn-info btn-sm js-add-to-cart" data-id="19" data-name="Игровая клавиатура Razer Huntsman V2" data-price="12000">Добавить в корзину</button>
         </div>
         </div>
         <br>
		<div class="product-infa">
		<font color="black" face="Arial" size="3"><p> Характеристики:</p></font>
		
		<font color="black" face="Arial" size="3"><p> Кол-во клавиш:&#160;109 </p></font> 
		
        <font color="black" face="Arial" size="3"><p> Подставка под запястье:&#160;Есть </p></font> 
		
		<font color="black" face="Arial" size="3"><p> Тип клавиатуры:Аналог&#160;оптическая </p></font>
		
		<font color="black" face="Arial" size="3"><p> Подсветка:&#160;RGB </p></font>
        
        <font color="black" face="Arial" size="3"><p> Тип подключения:&#160;проводная </p></font>
        
        <font color="black" face="Arial" size="3"><p> Интерфейс подключения:&#160;USB </p></font>
        
        <font color="black" face="Arial" size="3"><p> Длинна кабеля:&#160;2&#160;м </p></font>
        
        <font color="black" face="Arial" size="3"><p> Вес:&#160;1238&#160;г </p></font>
        </li>
        
            <li class="product-wrapper-klaw">
		  <img src="images/Klava/klav2.png" width="200" height="200" alt="lorem" align="left" hspace="35">
		   
           <font color="black" face="Arial" size="5"><p><span> Игровая&#160;клавиатура&#160; </span></p></font>
           <font color="black" face="Arial" size="5"><p><span> Razer&#160;BlackWidow&#160;X </span></p></font>
		<font color="black" face="Arial" size="4"><p><span> Стоимость:&#160;8800&#160;руб</span></p></font>
        
        <div class="simpleCart_shelfItem">
        <div class="product-bottom">
		   <button class="good-item__btn-add btn btn-info btn-sm js-add-to-cart" data-id="20" data-name="Игровая клавиатура Razer BlackWidow X" data-price="8800">Добавить в корзину</button>
         </div>
         </div>
         <br>
		<div class="product-infa">
		<font color="black" face="Arial" size="3"><p> Характеристики:</p></font>
		
		<font color="black" face="Arial" size="3"><p> Кол-во клавиш:&#160;104 </p></font> 
		
        <font color="black" face="Arial" size="3"><p> Подставка под запястье:&#160;Нет </p></font> 
		
		<font color="black" face="Arial" size="3"><p> Тип клавиатуры:Механическая </p></font>
		
		<font color="black" face="Arial" size="3"><p> Подсветка:&#160;RGB </p></font>
        
        <font color="black" face="Arial" size="3"><p> Тип подключения:&#160;проводная </p></font>
        
        <font color="black" face="Arial" size="3"><p> Интерфейс подключения:&#160;USB </p></font>
        
        <font color="black" face="Arial" size="3"><p> Длинна кабеля:&#160;2&#160;м </p></font>
        
        <font color="black" face="Arial" size="3"><p> Вес:&#160;1248&#160;г </p></font>
        </li>
        
            <li class="product-wrapper-klaw">
		  <img src="images/Klava/klav3.png" width="200" height="200" alt="lorem" align="left" hspace="35">
		   
           <font color="black" face="Arial" size="5"><p><span> Игровая&#160;клавиатура&#160; </span></p></font>
           <font color="black" face="Arial" size="5"><p><span> Modecom&#160;Volcano </span></p></font>
		<font color="black" face="Arial" size="4"><p><span> Стоимость:&#160;7300&#160;руб</span></p></font>
        
        <div class="simpleCart_shelfItem">
        <div class="product-bottom">
		   <button class="good-item__btn-add btn btn-info btn-sm js-add-to-cart" data-id="21" data-name="Игровая клавиатура Modecom Volcano" data-price="7300">Добавить в корзину</button>
         </div>
         </div>
         <br>
		<div class="product-infa">
		<font color="black" face="Arial" size="3"><p> Характеристики:</p></font>
		
		<font color="black" face="Arial" size="3"><p> Кол-во клавиш:&#160;109 </p></font> 
		
        <font color="black" face="Arial" size="3"><p> Подставка под запястье:&#160;Есть </p></font> 
		
		<font color="black" face="Arial" size="3"><p> Тип клавиатуры:Механическая </p></font>
		
		<font color="black" face="Arial" size="3"><p> Подсветка:&#160;Красная </p></font>
        
        <font color="black" face="Arial" size="3"><p> Тип подключения:&#160;проводная </p></font>
        
        <font color="black" face="Arial" size="3"><p> Интерфейс подключения:&#160;USB </p></font>
        
        <font color="black" face="Arial" size="3"><p> Длинна кабеля:&#160;1.8&#160;м </p></font>
        
        <font color="black" face="Arial" size="3"><p> Вес:&#160;1210&#160;г </p></font>
        </li>        
		
	<li class="Cotalogs">
	  <br><!--след.ряд-->
	</li>
		
            <li class="product-wrapper-klaw">
		  <img src="images/Klava/klav4.png" width="200" height="200" alt="lorem" align="left" hspace="35">
		   
           <font color="black" face="Arial" size="5"><p><span> Игровая&#160;клавиатура&#160; </span></p></font>
           <font color="black" face="Arial" size="5"><p><span> PCmaster&#160;redragon </span></p></font>
		<font color="black" face="Arial" size="4"><p><span> Стоимость:&#160;5700&#160;руб</span></p></font>
        
        <div class="simpleCart_shelfItem">
        <div class="product-bottom">
		   <button class="good-item__btn-add btn btn-info btn-sm js-add-to-cart" data-id="22" data-name="Игровая клавиатура PCmaster redragon" data-price="5700">Добавить в корзину</button>
         </div>
         </div>
         <br>
		<div class="product-infa">
		<font color="black" face="Arial" size="3"><p> Характеристики:</p></font>
		
		<font color="black" face="Arial" size="3"><p> Кол-во клавиш:&#160;87 </p></font> 
		
        <font color="black" face="Arial" size="3"><p> Подставка под запястье:&#160;Нет </p></font> 
		
		<font color="black" face="Arial" size="3"><p> Тип клавиатуры:Аналог&#160;оптическая </p></font>
		
		<font color="black" face="Arial" size="3"><p> Подсветка:&#160;Нет </p></font>
        
        <font color="black" face="Arial" size="3"><p> Тип подключения:&#160;проводная </p></font>
        
        <font color="black" face="Arial" size="3"><p> Интерфейс подключения:&#160;USB </p></font>
        
        <font color="black" face="Arial" size="3"><p> Длинна кабеля:&#160;2&#160;м </p></font>
        
        <font color="black" face="Arial" size="3"><p> Вес:&#160;1240&#160;г </p></font>
        </li>
        
            <li class="product-wrapper-klaw">
		  <img src="images/Klava/klav5.png" width="200" height="200" alt="lorem" align="left" hspace="35">
		   
           <font color="black" face="Arial" size="5"><p><span> Игровая&#160;клавиатура&#160; </span></p></font>
           <font color="black" face="Arial" size="5"><p><span> Razer&#160;Huntsman&#160;V1 </span></p></font>
		<font color="black" face="Arial" size="4"><p><span> Стоимость:&#160;11500&#160;руб</span></p></font>
        
        <div class="simpleCart_shelfItem">
        <div class="product-bottom">
		   <button class="good-item__btn-add btn btn-info btn-sm js-add-to-cart" data-id="23" data-name="Игровая клавиатура Razer Huntsman V1" data-price="11500">Добавить в корзину</button>
         </div>
         </div>
         <br>
		<div class="product-infa">
		<font color="black" face="Arial" size="3"><p> Характеристики:</p></font>
		
		<font color="black" face="Arial" size="3"><p> Кол-во клавиш:&#160;87 </p></font> 
		
        <font color="black" face="Arial" size="3"><p> Подставка под запястье:&#160;Нет </p></font> 
		
		<font color="black" face="Arial" size="3"><p> Тип клавиатуры:Механическая </p></font>
		
		<font color="black" face="Arial" size="3"><p> Подсветка:&#160;RGB </p></font>
        
        <font color="black" face="Arial" size="3"><p> Тип подключения:&#160;проводная </p></font>
        
        <font color="black" face="Arial" size="3"><p> Интерфейс подключения:&#160;USB </p></font>
        
        <font color="black" face="Arial" size="3"><p> Длинна кабеля:&#160;2&#160;м </p></font>
        
        <font color="black" face="Arial" size="3"><p> Вес:&#160;950&#160;г </p></font>
        </li>
		
		<li class="product-wrapper-klaw">
		  <img src="images/Klava/klav6.png" width="200" height="200" alt="lorem" align="left" hspace="35">
		   
           <font color="black" face="Arial" size="5"><p><span> Игровая&#160;клавиатура&#160; </span></p></font>
           <font color="black" face="Arial" size="5"><p><span> HP&#160;V2 </span></p></font>
		<font color="black" face="Arial" size="4"><p><span> Стоимость:&#160;2650&#160;руб</span></p></font>
        
        <div class="simpleCart_shelfItem">
        <div class="product-bottom">
		   <button class="good-item__btn-add btn btn-info btn-sm js-add-to-cart" data-id="24" data-name="Игровая клавиатура HP V2" data-price="2650">Добавить в корзину</button>
         </div>
         </div>
         <br>
		<div class="product-infa">
		<font color="black" face="Arial" size="3"><p> Характеристики:</p></font>
		
		<font color="black" face="Arial" size="3"><p> Кол-во клавиш:&#160;104 </p></font> 
		
        <font color="black" face="Arial" size="3"><p> Подставка под запястье:&#160;Нет </p></font> 
		
		<font color="black" face="Arial" size="3"><p> Тип клавиатуры:Оптическая </p></font>
		
		<font color="black" face="Arial" size="3"><p> Подсветка:&#160;Нет </p></font>
        
        <font color="black" face="Arial" size="3"><p> Тип подключения:&#160;проводная </p></font>
        
        <font color="black" face="Arial" size="3"><p> Интерфейс подключения:&#160;USB </p></font>
        
        <font color="black" face="Arial" size="3"><p> Длинна кабеля:&#160;2&#160;м </p></font>
        
        <font color="black" face="Arial" size="3"><p> Вес:&#160;750&#160;г </p></font>
        </li>
        
    </ul>
    </div>

    <script id="catalog-template" type="text/template">
        <% _.each(goods, function(good) { %>
            <li class="good-item row">
                <div class="col-md-4">
                    <img class="good-item__img" src="<%- good.img %>" />
                </div>
                <div class="col-md-8">
                    <a class="good-item__id" href="/product/<%= good.id %>">Артикул <%= good.id %></a>
                    <div class="good-item__name"><%- good.name %></div>
                    <div class="good-item__price"><%= good.price %> руб.</div>
                    <button 
                        class="good-item__btn-add btn btn-info btn-sm js-add-to-cart"
                        data-id="<%= good.id %>"
                        data-name="<%- good.name %>"
                        data-price="<%= good.price %>"
                    >Добавить в корзину</button>
                </div>
            </li>
        <% }); %>
    </script>

    <script src="js/vendor/jquery.min.js" type="text/javascript"></script>
    <script src="js/vendor/jquery.cookie.js" type="text/javascript"></script>
    <script src="js/vendor/underscore.min.js" type="text/javascript"></script>
    <script src="js/modules/catalog.js" type="text/javascript"></script>
    <script src="js/modules/cart.js" type="text/javascript"></script>
    <script src="js/modules/compare.js" type="text/javascript"></script>
    <script src="js/modules/main.js" type="text/javascript"></script>
    <script src="js/podval.js" type="text/javascript"></script>
    
</body>

<script src="js/shapaka.js" type="text/javascript"></script>

</html>